/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

html, input {
    font-family: courier, monospace;
}

#content {
    width: 800px;
    margin: 0 auto;
}

#candidature label {
    display: block;
}

#candidature input, #candidature textarea {
    margin-bottom: 1em;
    width: 400px;
}

#candidature input[type=text], #candidature textarea {
    border: 1px solid #AAA;
}

.result {
    padding-top: 20px;
}

.result span {
    font-size: 14px;
}

.result .message {
    font-size: 16px;
    font-weight: bold;
    color: green;
}

.result .error {
    color: red;
}
